



.box {
    display: inline-block;
    height:500px;
    width: 500px;
    background-color: black;

}
@media (max-width:1200px){
  .box{
      height: 300px;
      width: 300px;
      background-color: green;
    }
}

@media (max-width:800px){
  .box{
      height: 200px;
      width: 200px;
      background-color: blue;
    }
  }
  @media (max-width:600px){
    .box{
        height: 200px;
        width: 200px;
        background-color: red;
    }
}
