.container {

background-color: aliceblue;
height: 300px;
width: 750px;
border-style: solid;
border-color: black,
border-width: 5px;

}

.row1 {
  height: 100px;
  width: 600px;
  background-color: white;
  border-style: solid;
  border-color: cadetblue;
  border-width: 5px;


}
.row2 {
  height: 100px;
  width: 600px;
  background-color: pink;
  border-style: solid;
  border-color: cadetblue;
  border-width: 5px;


}
.row3 {
  height: 100px;
  width: 600px;
  background-color: white;
  border-style: solid;
  border-color: cadetblue;
  border-width: 5px;


}
