h1 {
    font-family: Georgia, serif;
    background-color: white;
    color: black;
    text-align: center;
}

h3 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
}

article {
  max-width: 960px;
  margin: 0 auto;
}

p {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
