

html {
  height: 100%;
  width: 100%;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
/*//put something here*/
}

@font-face {
  font-family: 'libreitalic';
  src: url('https://fonts.gstatic.com/s/librebaskerville/v5/QHIOz1iKF3bIEzRdDFaf5fbsUggLxuOzHNuXcSFlTaY.woff2');
}
@font-face {
  font-family: 'libre';
  src: url('https://fonts.gstatic.com/s/librebaskerville/v5/pR0sBQVcY0JZc_ciXjFsK8j0T1k_tV7QYhgnOhA2764.woff2');
}

.body {
  height: 100%;
  width: 100%;
}

.container {
height: 100%;
width: 100%;
background-color: #fff;
border: 10px solid blue;

}

#header {
      height: 200px;
      width: 100%;
      text-align: center;
      padding: 20px 0px 70px 0px;
      background-size: cover;
      background-image: url(contours@2x.png), url(noise.png), url(gridlines.png), url("images/huntington.jpg");
      /*background-image: url(csszengarden.com/214/enso.svg);*/
      background-size: 50% auto, auto, auto,cover;
      font-family:'libre';
      color: #fff;
    }

#top-left {
  height: 200px;
  width: 80%;
  background-color: pink;
  display: inline-block;
}

#top-right {
  height: 200px;
  width: 20%;
  background-color: orange;
  display: inline-block;
}

.enso {
    position: absolute;
    height: 100px;
    left: 320px;
    top: 25px;
}

.row {

height: 200px;
border: 2px dotted black;

}
.col-12 {
border: 2px solid green;

}

.col-6 {
  border: 5px dotted purple;
}


.DaveShea {
  height: 150px;
  border: 2px dotted brown;
}

.rowfooter {
  height: 100px;
  border: 8px dotted black;
}


.box {
  height: 150px;
  border-color: white;
  border-style: solid;
  border-width: medium;*/
}
