
.navbar-expand{
  --lg

}

.navbar {
    background-color: aliceblue;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: aliceblue;
    border-color: black;
}
