
body {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

.container {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  border: 10px black solid;
  border-radius: 10px;
}

.search-bar {
  margin: 50px;
  text-align: center;
  border: 3px solid black;
  border-radius: 1px;
}

.search-bar input {
  width: 100%;
}

.video-item img {
  max-width: 64px;
  border: black 10px;

}

.video-detail .details {
  margin-top: 2px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 20px;
  font-family: sans-serif;
  font-style: italic;
  color: darkblue;
  background: #CC95C0;
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
}

.list-group-item {
  cursor: crosshair;
  background: #CC95C0;
  font-family: fantasy;
  color: darkblue;
}

.list-group-item:hover {
  background: #eacda3;
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
  background: linear-gradient(to right, #d6ae7b, #eacda3);

}
